@use "./variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: $viewport-min-width;
  color: $color-text;
  font-family: $font-family-base;
  background: $color-page-background;
}

button,
textarea {
  font: inherit;
}
